<!-- Información de votación -->
<div class="ui very padded vertical stripe segment">
    <div class="ui stackable relaxed centered grid">
        <!-- Semblanza Zaldivar -->
        <div class="five wide column">
            <div class="ui center aligned segment">
                <div class="ui header">Ing. Orlando Zaldívar Zamorategui</div>
                <%= link_to root_path << 'Orlando.pdf', class: 'ui basic blue labeled icon button' do %>
                    <i class="file pdf outline icon"></i>
                    Semblanza
                <% end %>

            </div>
        </div>
        <!-- Información de la votación -->
        <div class="five wide column">
            <div class="ui center aligned segment">
                <div class="ui header">Comunicación y compromiso</div>
                <%= link_to root_path << 'Propuestas.pdf', class: 'ui basic blue labeled icon button' do %>
                    <i class="file pdf outline icon"></i>
                    Propuestas
                <% end %>

            </div>
        </div>

        <!-- Semblanza Ponce  -->
        <div class="five wide column">
            <div class="ui center aligned segment">
                <div class="ui header">Ing. Alejandro Ponce Serrano</div>
                <%= link_to root_path << 'Ponce.pdf', class: 'ui basic blue labeled icon button' do %>
                    <i class="file pdf outline icon"></i>
                    Semblanza
                <% end %>
            </div>
        </div>


    </div>
</div>

<!-- Boton para subir documentos -->
<div class= "ui vertical stripe segment">
    <div class="ui center aligned container">
        <h2 class="ui header">
            Nos interesan tus propuestas e inquietudes
        </h2>
        <%=link_to new_document_path, class:'ui blue labeled icon button' do%>
            <i class="edit icon"></i>
            Envíanos un mensaje
        <% end %>
    </div>
</div>
