<div class="ui container">
    <% if @document.errors.any? %>
        <div class="ui error message">
            <ui>
            <% @document.errors.each do |attr, msg| %>
                <li><%= msg %></li>
            <% end %>
            </ui>
        </div>
    <% end %>
    <%= render partial: 'form' %>
</div>
